<div
    id="startModal" class="modal">
    <div class="modal-content">
        <h1 class="heading">Welcome to Inky Matching!</h1>
        <h2 class="rules-text">Rules:</h2>

        <p class="text">The game will start with the cards placed face down. The player chooses a card and carefully turns it over. Be sure not to bother the surrounding cards.
                            
                            The player then selects another card and turns it over. If the two cards are a matching pair for example two Jacks then they will leave the cards facing up.
                            
                            If the cards are not a match they are turned back over and the player continues to try to find a match.</p>

        <button id="startButton" class="start-button">Lets Play</button>
    </div>
</div>

<div class="wrapper">
<div class="container">
  <div class="base-card" data-intent="blue">
      <img class="face-down" type="image" id="myimage-1" src="../assets/image-1-orange-1.png"/>
      <img class="face-down face-up " type="image" id="myimage-1" src="../assets/image-2-blue-1.png"/>
  </div>
</div>
<div class="container">
  <div class="base-card" data-intent="green">
<img class="face-down" type="image" id="myimage-2" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-2" src="../assets/image-3-green-1.png"/>
  </div>
</div>
<div class="container">
  <div class="base-card" data-intent="orange">
<img class="face-down" type="image" id="myimage-3" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-3" src="../assets/image-7-gray-1.png"/>
  </div>
</div>
<div class="container  ">
  <div class="base-card" data-intent="yellow">
 <img class="face-down" type="image" id="myimage-4" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-4" src="../assets/image-4-yellow-1.png"/>
  </div>
</div>

<div class="container">
  <div class="base-card" data-intent="black">
        <img class="face-down" type="image" id="myimage-5" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-5" src="../assets/image-6-black-1.png"/>
  </div>
</div>

<div class="container">
  <div class="base-card" data-intent="green">
 <img class="face-down" type="image" id="myimage-6" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-6" src="../assets/image-3-green-1.png"/>
  </div>
</div>
<div class="container">
  <div class="base-card" data-intent="black">
 <img class="face-down" type="image" id="myimage-7" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-7" src="../assets/image-6-black-1.png"/>
  </div>
</div>
<div class="container">
  <div class="base-card" data-intent="purple">
 <img class="face-down" type="image" id="myimage-8" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-8" src="../assets/image-5-purple-1.png"/>
  </div>
</div>
<div class="container">
  <div class="base-card" data-intent="blue">
 <img class="face-down" type="image" id="myimage-9" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-9" src="../assets/image-2-blue-1.png"/>
  </div>
</div>
<div class="container">
  <div class="base-card" data-intent="yellow">
 <img class="face-down" type="image" id="myimage-9" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-9" src="../assets/image-4-yellow-1.png"/>
  </div>
</div>
<div class="container">
  <div class="base-card" data-intent="orange">
 <img class="face-down" type="image" id="myimage-10" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-10" src="../assets/image-7-gray-1.png"/>
  </div>
</div>
<div class="container">
  <div class="base-card"data-intent="purple">
 <img class="face-down" type="image" id="myimage-11" src="../assets/image-1-orange-1.png"/>
        <img class="face-down face-up " type="image" id="myimage-11" src="../assets/image-5-purple-1.png"/>
  </div>
</div>

</div>
<div
    id="endModal" class="modal">
    <div class="modal-content">
        <h1 class="heading">Thanks for Playing!</h1>
        <h2 *ngIf="showFirstTryMessage" class="heading">Whoa First try, you have the memory of a dolphin!!!</h2>
        <h2 *ngIf="!showFirstTryMessage" class="heading">Not 
            terrible but lets see if you can do better this time!</h2>
        <h3 class="heading">Tries to match all cards : {{this.triesCount}}</h3>

    </div>
</div>

