<div
    id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <h1 class="heading">Welcome to Inky Matching!</h1>
        <h2 class="rules-text">Rules:</h2>

        <p class="text">The game will start with the cards placed face down. The player chooses a card and carefully turns it over. Be sure not to bother the surrounding cards.
                            
                            The player then selects another card and turns it over. If the two cards are a matching pair for example two Jacks then they will leave the cards facing up.
                            
                            If the cards are not a match they are turned back over and the player continues to try to find a match.</p>

        <button id="startButton" class="start-button">Lets Play</button>
    </div>
</div>


<div class="wrapper">
    <div class="card">
        <input class="box card-front" type="image" id="myimage-1" src="../assets/image-1-orange-1.png"/>
        <input class="box card--back" type="image" id="myimage-1" src="../assets/image-2-blue-1.png"/>
    </div>

    <input class="box" type="image" id="myimage-2" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-3" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-4" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-5" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-6" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-7" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-8" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-9" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-10" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-11" src="../assets/image-1-orange-1.png"/>
    <input class="box" type="image" id="myimage-12" src="../assets/image-1-orange-1.png"/>
</div>
